@use 'base/variables' as v;
@use 'base/mixins' as m;

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}

body {
    font-family: v.$font;
    font-size: 1.5rem;
    // min-height: 100%;
    background: url(../img/bg-pattern-bottom-mobile.svg) bottom right no-repeat, url(../img/bg-pattern-top-mobile.svg) top left no-repeat;
    // display: flex;
    // align-items: center;
    // justify-content: center;

    @include m.desktop{
        background: url(../img/bg-pattern-bottom-desktop.svg) bottom right no-repeat, url(../img/bg-pattern-top-mobile.svg) top left no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100%;
    }
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.container {
    min-width: 37.5rem;
    max-width: 111rem;
    margin: 0 auto;
    padding: 8.8rem 2.4rem 9.9rem 2.4rem;

    @include m.desktop{
        margin: 11.8rem auto;
        padding: 0;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}