
/* Fonts */
$font: 'League Spartan', sans-serif;

/* Media Queries */
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

/* Colors */

// Primary
$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);

// Neutral
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);