@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    text-align: center;

    @include m.desktop{
        display: flex;
        align-items: center;
        gap: 12.5rem;
        text-align: left;
    }

    &__title {
        color: v.$very-dark-magenta;
        font-size: 4rem;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -1.429px;
        margin-bottom: 1.7rem;

        @include m.desktop{
            width: 44.5rem;
            font-size: 5.6rem;
            line-height: 48px;
            letter-spacing: -2px;
            margin-bottom: 2.6rem;
        }
    }

    &__tagline {
        color: v.$dark-grayish-magenta;
        font-size: 1.9rem;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: -0.633px;

        @include m.desktop{
            width: 44.5rem;
        }
    }
}