@use 'base/variables' as v;
@use 'base/mixins' as m;

.rate {
    margin-top: 3.9rem;

    @include m.desktop {
        margin-top: 0;
    }
}

.card {

    &__rate {
        background-color: v.$light-grayish-magenta;
        border-radius: .8rem;
        margin-bottom: 1.6rem;
        padding: 1.6rem 5.5rem 1.5rem 5.5rem;

        &:last-of-type {
            margin-bottom: 0;
        }

        @include m.desktop {
            width: 44.5rem;
            height: 5.6rem;
            display: flex;
            align-items: center;
            gap: 3.245rem;
            margin-right: 0;
            padding: 2rem 3.2rem;

            &:nth-child(2) {
                margin-left: 4.8rem;
            }

            &:nth-child(3) {
                margin-left: 9.5rem;
            }
        }
    }

    &__stars {
        text-align: center;
        margin-bottom: 1.523rem;

        @include m.desktop {
            margin-bottom: 0;
        }
    }

    &__text {
        font-size: 1.7rem;
        font-weight: 700;
        text-align: center;

        @include m.desktop {
            text-align: left;
        }
    }
}