@use 'base/variables' as v;
@use 'base/mixins' as m;

.testimonials {
    margin-top: 4.9rem;

    @include m.desktop {
        margin-top: 7.1rem;
        display: flex;
        gap: 3rem;
    }
}

.testimonial {

    &__card {
        background-color: v.$very-dark-magenta;
        padding: 4rem 3.2rem 3.5rem 3.2rem;
        font-size: 1.7rem;
        border-radius: .8rem;
        margin-bottom: 1.6rem;

        &:last-of-type {
            margin-bottom: 0;
        }

        @include m.desktop {
            margin-bottom: 0;
            height: 23.4rem;

            &:nth-child(2) {
                margin-top: 1.6rem;
            }

            &:nth-child(3) {
                margin-top: 3.2rem;
            }
        }
    }

    &__client {
        display: flex;
        align-items: center;
        margin-bottom: 2.3rem;

        @include m.desktop {
            margin-bottom: 3.2rem;
        }
    }

    &__text {
        color: v.$white;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: -0.304px;
    }
}

.client {

    &__image {
        width: 4rem;
        height: 4rem;
        border-radius: 5rem;
        overflow: hidden;
        margin-right: 2.3rem;
    }

    &__name {
        color: v.$white;
        font-weight: 700;
    }

    &__status {
        color: v.$soft-pink;
        font-weight: 400;
    }
}